@model ProductListViewModel

<h2 class="mb-4">📋 Danh sách sản phẩm</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle text-center">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Tên sản phẩm</th>
                <th>Loại</th>
                <th>Giá</th>
                <th>Số lượng trong kho</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products == null || Model.Products.Count == 0)
            {
                <tr>
                    <td colspan="5" class="text-center text-danger">Không có sản phẩm nào. Vui
                        lòng quay lại trang trước hoặc tạo mới.</td>
                </tr>
            }
            else
            {
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td>@product.ProductCategory</td>
                        <td>@product.ProductPrice</td>
                        <td>@(product.ProductStock == 0 ? "Hết hàng" : product.ProductStock.ToString())</td>

                        <td>
                            <div class="d-flex flex-column flex-sm-row justify-content-center gap-2">
                                <form asp-action="DeleteProduct" asp-controller="Product" method="post"
                                    onsubmit="return confirm('Bạn có chắc muốn xóa?');" class="d-inline">
                                    <input type="hidden" name="id" value="@product.ProductId" />
                                    <input type="hidden" name="page" value="@Model.CurrentPage" />
                                    <button type="submit" class="btn btn-danger">🙅‍♂️ Xóa</button>
                                </form>
                                <a asp-action="EditProduct" asp-route-id="@product.ProductId"
                                    asp-route-page="@Model.CurrentPage" class="btn btn-warning">👨‍🔧 Sửa</a>
                            </div>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

</div>

<div class="d-flex justify-content-between align-items-center flex-wrap mt-3">
    <a asp-action="CreateProducts" asp-controller="Product" class="btn btn-success mb-2">🛒 Thêm sản phẩm</a>

    <div>
        @await Html.PartialAsync("_Pagination", Model)
    </div>
</div>